<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="../js/vue.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script> -->
</head>
<body>
    <div id="app"> <!--HTML DOM template-->
        <h1>What did you get in VueJS?</h1>
        Your score: <input v-model="score">

        <p v-if="score >= 70">PASS!!!</p><!--雙引號條件判斷，跟else黏在一起-->
        <p v-else>It's hard to pass.</p>
    </div>

    <script>        
        new Vue({
            el: '#app',
            data: {  //變數放這裡
                
                score: 0,
                
            },
        });

        // if(score < 0 || score > 100){

        // }else if(score >= 70){

        // }else{

        // }
        
    </script>

    <script>
        new Vue
    </script>
</body>
</html>