<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="../js/vue.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script> -->
</head>
<body>
    <div id="app"> <!--HTML DOM template-->
        <select>
            <option v-for="year in years">{{year}}</option>
        </select>
        <select v-model="selectedMonth" @change="changeValue">
        <!-- <select v-model="selectedMonth" 事件: v-on:change = showMonth(month) 傳摻樹才要小括弧"> -->
        <!--v-on函數-->
            <option v-for="month in 12">{{month}}</option>

            <!-- <option v-for="month in months">{{month}}</option> -->
            <!-- <option v-for="(month,index) in 12" v-bind:value="index">{{month}}</option> v-bind值從vue來-->
        </select>
        <select>
            <option v-for="day in 31">{{day}}</option>
        </select>
        <hr>
        <h2>Classmate</h2>
        <ol>
            <!-- <li v-for="item in classmate" v-on:click="CFD101(item.name)">{{item.name}}</li> -->
            <li v-for="item in classmate" @click="CFD101(item.name)">{{item.name}}</li>
        </ol>
    </div>

    <script>        
        new Vue({
            el: '#app',
            data: {  //變數放這裡
                message: 'Hello',
                colors: ['red','orange','yellow','green','blue','indigo','violet'],
                classmate: [{name:'Andy',age:20},
                            {name:'Brian',age:21},
                            {name:'Carl',age:25},
                            {name:'Dale',age:18},
                        ],
                years: [2018,2019,2020,2021,2011],
                months: ['January','February','March','April','May','June',
                        'July','August','September','October','November','December'],
                selectedMonth: new Date().getMonth() + 1,
            },//new Date().getMonth()javascript語法
            methods: {  //函數(方法)大部分放這裡!
                changeValue(e){  //changeValue: function(){}, 遇到function的寫法,event參數
                    console.log(e.target);//e.target物件本身，e.target 不等於 this
                },
                CFD101(yourName){
                    alert(`CFD101 member: ${yourName}`);
                }
            },
        });

        // switch(month){
        //     case 1:
        //     case 3:
        //     case 5:
        //     case 7:
        //     case 8:
        //     case 10:
        //     case 12:
        //         days = 31;
        //         break;
        //     case 4:
        //     case 6:
        //     case 9:
        //     case 11:
        //         days = 30;
        //         break;
        //     default:
        //         days = 28;  //or days = 29;
        // }
    </script>
</body>
</html>